
.Searcher-box {
    display: inline-flex;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
  .Input-box {
   padding: 10px;
   margin: 10px;
   border:0;
   border-radius:10px;
   box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }
  
  .Input-box:hover {
    box-shadow:0 0 15px rgba(0,0,0,0.5);
  }
  
  .Searcher-button {
    background-color: transparent;
    padding: 15px;
    border: 0;
  }
  
  .Searcher-button:hover {
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
  }
  